* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(./assets/More/djo+8+bit+mouse+2.png),auto;
  scroll-behavior: smooth;
  transition: all .2s ease-in-out;
}  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(16px + .4vw);
  background-color: rgb(17, 16, 16);
  color: white;
}

.canvas {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.sct-1 {
  height: 60vh;
  margin: 10px 0;
  border: solid white 1px;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  justify-content: center;
}

.nav {
  margin: 10px 0;
  padding: 25px;
  border: dashed white 2px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
}

.nav li button {
  padding: 1.5%;
  margin: 0.8%;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: 20% auto;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  width: 80%;
  background-color: white;
  opacity: 90%;
  border: solid green 6px;
}

.container {
  text-align: center;
  border: 1px dashed white;
  margin: 0.8%;
  padding: 0.8%;
  height: fit-content;
  width: fit-content;
}

.container:hover {
  padding: 2%;
}

.nav button:hover {
  margin: 2%;
}

.btn-rem:hover {
  transform: scale(1.23);
  background-color: red;
}